[submodule "Notes/aquila-notes"]
	path = Notes/aquila-notes
	url = https://github.com/rizkyilhampra/aquila-notes.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/rizkyilhampra/nvim-config.git
[submodule "/home/aquila/.config/hypr/themes"]
	path = /home/aquila/.config/hypr/themes
	url = https://github.com/catppuccin/hyprland.git
